
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins";
    background-color: rgb(8, 2, 23);
    color: #fff;
}

.botao__fixo {
    position: fixed;
    bottom: 20px; 
    right: 20px;
    text-decoration: none; 
    border: 1px solid white;
    border-radius: 3px;
    padding: 5px;
}

.botao__fixo:hover {
    transition: 0.6s;
    transform: scale(1.2);
}

.botao__fixo p {
    color: #Fff;
    margin: 0; /* Remove margem padrão do parágrafo */
}

.botao__fixo a {
    text-decoration: none; /* Remove sublinhado do link */
}

@media (max-width: 768px) {
    .botao__fixo {
        margin-top: 2em;
        padding: 2px;
        writing-mode: vertical-lr;
        text-orientation: upright;
        opacity: 0.3;
    }
}
