@import url(section-banner.css);
@import url(section-card.css);
@import url(modal.css);
@import url(footer.css);


.cabecalho {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 999;
    
}

.menu-hamburguer {
    width: 100%;
    margin-top: -1%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 13px;
    
}

.menu-hamburguer__logo {
    display: flex;
    justify-content: center;
    align-items: center; 
    
}

.menu-hamburguer a{
    cursor: pointer;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #fff;
}

.menu-hamburguer__texto {
    text-align: center;
    font-size: 24px;
}

.menu-hamburguer button {
    cursor: pointer;
    text-decoration: none;
    background-color: transparent;
    border: 0;
}

.menu-hamburguer__usuario {
    display: flex;
}

.img-logo  {
    width: 140px;
}

.img-usuario {
    filter: brightness(0) invert(1);
    width: 60px;
    margin-right: 1em;
}

@media (max-width: 768px) {

    .img-logo  {
        width: 80px;
    }

    .img-usuario {
        width: 40px;
    }
    
}