.card {
    /* background-image: url(../img/pessoa-segurando-nas-maos-e-digitando-na-foto-do-celular-isolada-em-fundo-preto_746318-2795.avif);
    background-repeat: no-repeat;
    background-size: 100%; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100%;
}

.img-card {
    width: 300px;
    height: 300px;
}

.img-globo {
    padding: 3em;
    width: 220px;
    height: 220px;
    border-radius: 32px ;
}

.card__vendas {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 4em;
    padding-left: 10px;
}

.card__texto {
    text-align: center;
    font-size: 24px;
}

.card__texto button {
    text-decoration: none;
    background-color: transparent;
    border: 0;
    color: white;
    font-size: 20px;
    border: 1px solid white;
    border-radius: 16px;
    padding: 0.6em;
    cursor: pointer;
}

.card__preço {
    margin: 0.7em 0;
}

.card__texto button:hover {
    transition: 0.5s;
    transform: scale(1.1);
}

@media (max-width: 768px) {
    
    .card {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        text-align: center;
    }
    
    .img-card {
        width: 130px;
        height: 130px;
    }
    
    .img-globo {
        padding: 1em;
        width: 90px;
        height: 90px;
        border-radius: 16px;
    }
    
    .card__vendas {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 1em;
        padding-left: 10px;
    }
    
    .card__texto {
        text-align: center;
        font-size: 20px;
    }
    
    .card__texto button {
        text-decoration: none;
        background-color: transparent;
        border: 0;
        color: white;
        font-size: 16px;
        border: 1px solid white;
        border-radius: 16px;
        padding: 7px;
    }
    
    .card__preço {
        margin: 0.7em 0;
    }
    
    .card__texto button:hover {
        transition: 0.5s;
        transform: scale(1.1);
    }

}

