.banner {
    background-image: url(../img/background-img.jpg);
    color: #fff;
    text-align: center;
    padding: 2.5em 2em;
    margin-top: -1.2%;
}

.banner__titulo {
    font-size: 40px;
    font-weight: 700;
    -webkit-text-stroke: 0.2px black; /* Contorno de 1px preto */

}

.banner__texto {
    font-size: 22px;
    font-weight: 500;
    margin: 1em 0;
    -webkit-text-stroke: 0.5px black;
}

.banner__pesquisa {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 24px;
    padding: 1em;
    text-align: center;
    width: 30%;
}

.banner__pesquisa::placeholder {
    font-weight: 400;
    color: #fff;
}
